* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1800px;
  height: 100%;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label, textarea, input {
  width: 100%;
  resize: none;
}

label {
  margin-bottom: 20px;
}

textarea, input {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

pre {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fafafa;
  font-size: 16px;
  overflow: auto;
}
